<header id="home">
  {% block navigation %}
  {% include 'partials/navigation.html.twig' %}
  {% endblock %}
  <div class="row banner wow bounceInUp" data-wow-delay=".25s">
    <div class="banner-text">
      <h1 class="headline">{{ site.header.title }}</h1>
      <h2>{{ site.header.whatido }}</h2>
      <hr />
      {% if site.social %}
      <ul class="social">
        {% for item in site.social %}
        <li><a href="{{ item.url }}"><i class="fa fa-{{ item.icon }}"></i></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <p class="scrolldown">
    <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
  </p>
</header>
