# Grav Specific
.sass-cache
composer.json
composer.lock
cache/
assets/*
logs/
images/*
user/data/*
user/accounts/*
user/plugins/admin
user/plugins/form
user/plugins/login
user/plugins/email
user/plugins/email/*
user/config/*
user/config/
vendor/*
webserver-configs/*
bin/*
backup/*
LICENSE.txt
README.md
system/*
.htaccess
CHANGELOG.md
CONTRIBUTING.md
robots.txt

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
