<div class="slab">
	<section id="contact">
	    <div class="row wow bounceInUp" data-wow-delay=".33s">
	        <div class="eight columns lead">
	            {{ page.content}}
	            {% include "forms/form.html.twig" %}
	        </div>
	        <aside class="four columns footer-widgets">
	            <div class="widget widget_tweets">
	                <h4 class="widget-title">Latest Tweets</h4>
	                <div id="tw-widget1"></div>
	            </div>
	        </aside>
	    </div>
	</section>
</div>