<form action="/ceevee-skeleton/home" id="my-nice-form" method="post" name=
    "my-nice-form">
        <div>
            <div class="form-field vertical">
                <div class="form-label">
                    <label class="inline">Name <span class=
                    "required">*</span></label>
                </div>
                <div class="form-data" data-grav-default="null"
                data-grav-disabled="true" data-grav-field="text">
                    <div class="form-input-wrapper">
                        <input autocomplete="on" name="name" placeholder=
                        "Enter your name" required="required" type="text"
                        value="">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="form-field vertical">
                <div class="form-label">
                    <label class="inline">Email <span class=
                    "required">*</span></label>
                </div>
                <div class="form-data" data-grav-default="null"
                data-grav-disabled="true" data-grav-field="text">
                    <div class="form-input-wrapper">
                        <input name="email" placeholder=
                        "Enter your email address" required="required" type=
                        "text" value="">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="form-field vertical">
                <div class="form-label">
                    <label class="inline">Message <span class=
                    "required">*</span></label>
                </div>
                <div class="form-data" data-grav-default="null"
                data-grav-disabled="true" data-grav-field="textarea">
                    <div class="form-textarea-wrapper long">
                        <textarea class="input" name="message" placeholder=
                        "Enter your message" required="required">
</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="button" type="submit">Submit</button>
        </div>
    </form>